vti_encoding:SR|utf8-nl
vti_author:SR|DT002B04F02001\\IUSR_COMMON
vti_modifiedby:SR|DT002B04F02001\\IUSR_COMMON
vti_timelastmodified:TR|14 Sep 2009 06:41:18 -0000
vti_timecreated:TR|14 Sep 2009 06:41:18 -0000
vti_cacheddtm:TX|14 Sep 2009 06:41:18 -0000
vti_filesize:IR|5576
vti_cachedlinkinfo:VX|S|normal-bg.gif S|title-bg.gif S|menuarrow.gif S|title-bg.gif S|title-bg.gif S|hover-bg.gif S|active-bg.gif S|dark-bg.gif S|dark-bg.gif S|rowhover-bg.gif S|hover-bg.gif S|active-bg.gif S|status-bg.gif S|normal-bg.gif S|hover-bg.gif S|active-bg.gif S|dark-bg.gif S|normal-bg.gif S|hover-bg.gif S|active-bg.gif
vti_cachedsvcrellinks:VX|FSUS|css/skins/aqua/normal-bg.gif FSUS|css/skins/aqua/title-bg.gif FSUS|css/skins/aqua/menuarrow.gif FSUS|css/skins/aqua/title-bg.gif FSUS|css/skins/aqua/title-bg.gif FSUS|css/skins/aqua/hover-bg.gif FSUS|css/skins/aqua/active-bg.gif FSUS|css/skins/aqua/dark-bg.gif FSUS|css/skins/aqua/dark-bg.gif FSUS|css/skins/aqua/rowhover-bg.gif FSUS|css/skins/aqua/hover-bg.gif FSUS|css/skins/aqua/active-bg.gif FSUS|css/skins/aqua/status-bg.gif FSUS|css/skins/aqua/normal-bg.gif FSUS|css/skins/aqua/hover-bg.gif FSUS|css/skins/aqua/active-bg.gif FSUS|css/skins/aqua/dark-bg.gif FSUS|css/skins/aqua/normal-bg.gif FSUS|css/skins/aqua/hover-bg.gif FSUS|css/skins/aqua/active-bg.gif
vti_extenderversion:SR|5.0.2.6790
vti_lineageid:SR|{87BB3836-EBAC-429A-9777-946D2F285984}
vti_backlinkinfo:VX|
